body{
    margin:0;
    padding: 0px;
    box-sizing: 0px;
}
#container{
    width:1200px;
    margin: 0 auto;
}
.header{
    width:1200px;
    height:px;
    background-color: #ffd700;
   
}
.header img{
    height:40px;
    margin-top: 10px ;
    margin-left: 10px;
}
.header span{
    margin-left: 15px;
    
}
/* ul li 转化成行内元素，设置其位置大小*/
.header ul{
  
    display:inline-block;
    margin-left: 600px;
   
}
.header ul li{
    display:inline-block;

}



.move{
    text-align:center;
}
.move img{
    width:95%;
    height: 95%;
    margin-top: 3px;

}
.move ul li{
  width:140px;
  height:140px;
  border: #080808 solid 2px;
  display:inline-block;
}

.footer{
    width:100%;
    background-color: #ffd700;

}
.footer li{
    display: inline-block;
    margin-left: 50px;
    margin-top: 25px;
}
 .footer img{
    
     width:200px;
    height: 129px;
    border: #080808 solid 2px;
 }
 .footer0{
     width:40%;

     float: right;
     background-color:#ffd700 ;
 }
 .footer1{
     width:60%;
     float:left;
    background-color: #ffd700;
 }


.ban{
    text-align: center;
    color: black;
}

